.wrap_hhprofile {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #0dcaf0;
    width: 85%;
    font-size: 16px;
}

.wrap_header {
    display: flex;
    flex-direction: row;
    margin: 2px;
    border-radius: 5px;
    background-color: aquamarine;
    border: 1px solid #000;
}

.wrap_header img {
    width: 40%;
    height: auto;
    border: 1px solid #000;
    border-radius: 10%;
    margin-left: 15%;
}

.base_hhin4 {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.table1 {
    width: 99%;
    margin-left: 5px;
}